/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-oct-2018, 23:11:02
    Author     : fjvaz
*/



div, label{ font-size: 20px;}
fieldset{ border-color: blue; margin:20px 25% 0px 25%; padding: 20px 60px}
legend{text-align: center; font-size: 2em; font-weight: bold; color: blue }
ul{margin-left: 10%; font-size: 25px }
input{margin-left: 17%; border: solid 1px black; font-size: 1em}
h2{font-size: 1.7em}