/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-sep-2018, 17:47:28
    Author     : fjvaz
*/

body{background-image: url("")}
h1 {text-align: center; font-size: 60px; text-decoration: underline}
li{font-size: 30px}
/*#column1{float: left; margin-left: 300px;  }
#column2{float: right; margin-right: 300px}
#column3{float: none; margin-top: 400px; margin-left: 25%; margin-right: 25%}*/

#column1,#column2,#column3{float: left; margin-left: 8%; background-color: rgba(182,177,230,0.7);  }
legend{font-size: 40px; font-weight: bold   }